.App {
  display: flex; 
  flex-direction: column; /* Все элементы располагаются вертикально */
  align-items: center; /* Центровка элементов по горизонтали */

}

.hw {

}



.hwTitle {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;

}
