.App {
  display: flex; 
  flex-direction: column; /* Все элементы располагаются вертикально */
  align-items: center; /* Центровка элементов по горизонтали */
  justify-content: flex-start; /* Элементы располагаются от начала контейнера по вертикали */
  min-height: 100vh; /* Контейнер занимает всю высоту окна браузера */
  padding: 20px; /* Отступы внутри контейнера */
  box-sizing: border-box; /* Учитываем padding в общей ширине и высоте */
  background-color: #f5f5f5; /* Светлый фон для приложения */
  font-family: Arial, sans-serif; /* Основной шрифт */
  font-size: 16px; /* Базовый размер текста */
  color: #333; /* Тёмно-серый текст */
}

.hw {
  display: flex;
  justify-content: space-between;
  width: 100%;
}



.hwTitle {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  text-align: left;
  width: 100vw;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 10px 70px;
  margin-top: 50px;
}
